In [1]:
import pandas as pd
import seaborn as sns

In [2]:
viajes = pd.read_csv('../data/recorridos-realizados-2019.csv',usecols = ['nombre_estacion_origen','nombre_estacion_destino'])
viajes.head()

          nombre_estacion_origen        nombre_estacion_destino
0                 Estados Unidos                     9 de Julio
1  Colegio Nacional Buenos Aires  Colegio Nacional Buenos Aires
2                     Pueyrredón                      Ecoparque
3                     Pueyrredón                      Ecoparque
4                    Legislatura         Estados Unidos y Boedo

In [3]:
od = viajes.groupby(['nombre_estacion_origen','nombre_estacion_destino']).size().reset_index()
od.columns = ['origen','destino','n']
od = od.loc[od.origen!= od.destino,:]
od.sort_values('n',ascending=False)
od = od.sort_values('n',ascending=False)
od = od.reset_index(drop=True)
od.to_csv('../data/od_ecobici_2019.csv',index=False)
od.head()

                origen              destino     n
0  372 - Villa Soldati           379 - BERG  2186
1           379 - BERG  372 - Villa Soldati  1984
2                 Peña     Parque Las Heras  1834
3     Parque Las Heras                 Peña  1789
4         Plaza Italia            Ecoparque  1780

In [ ]:
od_pivot = od.pivot(index='origen', columns='destino', values='n').fillna(0)
g = sns.clustermap(od_pivot,cmap='Reds')

In [ ]:
od_top100 = od.iloc[:100,:].copy()
od_top100 = od_top100.pivot(index='origen', columns='destino', values='n').fillna(0)
g = sns.clustermap(od_top100,cmap='Reds')

In [ ]:
percentil = .5
od['p'] = od['n']/od['n'].sum()
od['p_cumsum'] = od['p'].cumsum()
id_percentil = (od['p'].cumsum() - percentil).abs().idxmin()
od = od.loc[:id_percentil]
od = od.reindex(columns = ['origen','destino','n'])
od = od.pivot(index='origen', columns='destino', values='n').fillna(0)
g = sns.clustermap(od,cmap='Reds')

AttributeError: 'DataFrame' object has no attribute 'hea'